/*-- SCROLLBAR ----------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
  }
/*-- SCROLLBAR ------------------------------------------------------------------------------*/

/*----------*/

/*-- BASE -----------------------------------------------------------------------------------*/
:root{
  --white: #F4E9D7;
  --black: #1A1A1A;
  --transparent: rgba(255, 255, 255, 0);
  --primary: #3B5998;  /*Bleu nuit*/
  --secondary: #E2B616; /*Jaune*/
  --tertiary: #2E2E2E;  /*Gris foncé*/
}

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

body{
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}
/*-- BASE -----------------------------------------------------------------------------------*/

/*----------*/

/*-- HEADER ---------------------------------------------------------------------------------*/
/*-- NAVBAR --*/
nav{
  z-index: 10000;
  padding: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--tertiary);
  transition: top 0.3s ease-in-out;
}

.logo_img {
  height: 60px;
  width: auto;
}

.nav_item {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
}

.nav_item:hover {
  color: var(--primary);
  transform: translateY(-2px);
}

.btn{
  background-color: var(--secondary);
  color: var(--black);
  border: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(91, 112, 231, 0.37);
}

.navbar-toggler {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: white;
}

/*-- NAVBAR --*/

header{
    background-color: var(--black);
    padding: 0rem;
}
/*-- HEADER ---------------------------------------------------------------------------------*/

/*----------*/

/*-- BODY -----------------------------------------------------------------------------------*/

main {
  background-color: var(--tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.banniere {
  background-size: cover;
  background-position: center 38%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.artwork img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.join_us {
  box-shadow: 0 4px 6px rgba(91, 112, 231, 0.32);
}

/*-- BODY -----------------------------------------------------------------------------------*/

/*----------*/

/*-- FOOTER ---------------------------------------------------------------------------------*/
footer {
  background-color: var(--black);
  text-align: center;
  padding: 5px;
  color: var(--white);
  font-size: 0.8rem;
  width: 100%;
  margin-top: 1rem;
}
/*-- FOOTER ---------------------------------------------------------------------------------*/