/*-- SCROLLBAR ----------------------------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.01);
  }
/*-- SCROLLBAR ------------------------------------------------------------------------------*/

/*----------*/

/*-- BASE -----------------------------------------------------------------------------------*/
:root{
  --white: white;
  --black: black;
  --transparent: rgba(255, 255, 255, 0);
  --primary: #010101;
  --secondary: #efefef;
  --tertiary: grey;
}

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

body{
  width: 100%;
  height: 100%;
}
/*-- BASE -----------------------------------------------------------------------------------*/

/*----------*/

/*-- HEADER ---------------------------------------------------------------------------------*/
/*-- NAVBAR --*/
nav{
  z-index: 10000;
  padding: 2.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
}

nav a {
  transition: 0.3s;
  border-radius: 1rem;
  padding: 0.15rem;
  font-size: 1.3rem;
}

nav a:hover{
  opacity: .75;
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
/*-- NAVBAR --*/

header{
    background-color: orange;
    padding: 1rem;
}
/*-- HEADER ---------------------------------------------------------------------------------*/

/*----------*/

/*-- BODY -----------------------------------------------------------------------------------*/

main{
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*-- BODY -----------------------------------------------------------------------------------*/

/*----------*/

/*-- FOOTER ---------------------------------------------------------------------------------*/
footer{
    background-color: orange;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
/*-- FOOTER ---------------------------------------------------------------------------------*/